:root {
  --primary: #626262;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  background-color: #626262;
  color: #ffffff;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #000000ee;
  border-bottom: 1px solid #626262;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ff6200;
}
.navbar .navbar-logo span {
  color: #ffffff;
}

.navbar .navbar-nav a {
  color: #ffffff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #ffffff;
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: var(--primary);
}
#produk-menu {
  display: none;
}

/* hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(62, 62, 62) 0%,
    rgba(62, 62, 62, 0) 0%
  );
}
.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.hero .content h1 {
  font-size: 5em;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(16, 16, 16, 0.5);
  line-height: 1;
}
.hero .content span {
  color: #ff6200;
}
.hero .content p {
  font-size: 1.6rem;
  color: #ffffff;
  margin-top: 0.6rem;
  line-height: 1.2;
  font-weight: 500;
}
.hero .content .cta {
  margin-top: 0.6rem;
  display: inline-block;
  padding: 1em 3rem;
  font-size: 1.4rem;
  color: #ffffff;
  border-radius: 0.5rem;
  background-color: #626262;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.582);
}

/* about section */
.about,
.contact,
.menu {
  padding: 8rem 7% 1.4rem;
}
.about h2,
.contact h2,
.menu h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
.about h2 span,
.contact h2 span,
.menu h2 span {
  color: #ff6200;
}
.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem;
}
.about .row .about-img img {
  width: 85%;
  height: 70%;
}
.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
}
/* menu section */
.bir {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
  grid-row: 5;
}
.mon {
  margin: 4px;
  text-align: center;
  padding-bottom: 5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: rgb(0, 0, 0);
  border-radius: 0.5rem;
  flex-wrap: wrap;
}
.wet h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.wet a {
  background-color: #ff6200;
  padding: 1rem 3rem;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.mon img {
  border-radius: 2%;
}
/* contact section */
.contact {
  padding-bottom: 30px;
}
.sosmed {
  color: #ffffff;
  text-decoration: none;
  border: solid 1px white;
  display: flex;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  margin-top: 10rem;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}
.sosmed a {
  color: #ffffff;
  padding: 20px;
  margin-right: 1rem;
  margin-left: 1rem;
  text-align: center;
  font-size: 40px;
}
.sosmed a:hover {
  color: #ff6200;
}
.tot {
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
}

/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62%;
  }

  #produk-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #ffffff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: black;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    font-size: 1.6rem;
  }
}
/* mobile phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
